.ACE_marquee_items {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}   

.ACE_marquee_inner {
    display: block;
    text-align: center;
}

.ACE_marquee_item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.ACE-marquee {
    overflow: hidden;
}
.ACE-marquee .ACE_marquee_item span.ACE_icon {
    display: flex;
    align-items: center;
}